* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: #ffffff;
}
* p {
  color: #aaa;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  font-size: 12px;
  line-height: 1.6;
}

.navbar {
  background: rgb(27, 10, 49);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
}

.nav-menu {
  display: flex;
  gap: 25px;
}


.nav-menu a {
  color: #fff;
  text-decoration: none;
}



.btn1 {
  background: linear-gradient(90deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
  transition: transform 0.3s;
  display: inline-block;
}

.btn1:hover {
  transform: scale(1.05);
}
.btn2 {
  background: transparent;
  color: rgb(38, 194, 77);
  border: 2px solid #41e56d;
  padding: 10px 22px;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s;
}
.btn2:hover {
  transform: scale(1.05);
} 

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.banner {
  background: url("assets/hero-bg.png") center/cover no-repeat;
  text-align: center;
  padding: 120px 20px;
}

.podcast-circle {
  background: url('./assets/hero-circle.png') no-repeat center/cover; 
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 auto 20px;
  position: relative;
}
.microphone-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 90px;
}
.microphone-icon img {
  width: 100%;
  height: 90%;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #0aea55;
  color: #000;
  padding: 5px 13px;
  border-radius: 12px;
  font-size: 12px;
}

.banner-actions button {
  margin: 10px;
}

.about {
  background: rgb(27, 10, 49);
  text-align: center;
  padding: 20px 20px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.stats h2 {
  color: #55e15a;
}
.stats span {
  color: #aaa;
  font-size: 14px;
}

.why {
  background: rgb(43, 8, 89);
  padding: 80px 20px;
  text-align: center;
  
  .features-grid {
  display: grid;
  grid-template-areas:
    "card1 card2 card3"
    "card1 card4 card5";
  grid-template-columns: 1.2fr 1fr 1fr;
  gap: 20px;
  margin-top: 50px;
}

.feature-card {
  background: #020617;
  padding: 25px;
  border-radius: 16px;
  text-align: left;
  transition: transform 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-6px);
}

.feature-card img {
  width: 30px;
  margin-bottom: 15px;
}

.card-1 { grid-area: card1; }
.card-2 { grid-area: card2; }
.card-3 { grid-area: card3; }
.card-4 { grid-area: card4; }
.card-5 { grid-area: card5; }

}



.card {
  background: #020617;
  padding: 25px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.episodes {
  background: rgb(27, 10, 49);
  padding: 80px 40px;
}
.episodes h2 {
  text-align: center;
  margin-bottom: 50px;
}
.episode-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.episode-card iframe {
     width: 100%;
    height: 100%;
    /* Removes any default border around the iframe */
    border: none;
}

/* HOST */
.host {
  background: rgb(27, 10, 49);
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 80px 40px;
}

.host img {
  width: 220px;
  border-radius: 20px;
}
.socials {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.socials a {
  display: inline-block;
}
.socials img {
  justify-content: center;
  object-fit: fill;
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.socials img:hover {
  transform: scale(1.1);
}

/* FOOTER */
footer {
  background: url('./assets/footer-bg.png') no-repeat center/cover;
  text-align: center;
  padding: 40px 20px;
}

.footer-logo {
  margin-bottom: 15px;
}

.footer-logo img {
  width: 150px;
}
.nav-menu {
  justify-content: center;
}
.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.footer p {
  color: #aaa;
  font-size: 12px;
}


/* RESPONSIVE */
@media (max-width: 992px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
  .episode-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  #menu-toggle:checked + .hamburger + .nav-menu {
    display: flex;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .host {
    flex-direction: column;
    text-align: center;
  }
  .features-grid {
  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5";
  grid-template-columns: 1fr;
}

}
