* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: #ffffff;
}
* p {
  color: #aaa;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  font-size: 12px;
  line-height: 1.6;
}

.navbar {
  background: rgb(27, 10, 49);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
}

.nav-menu {
  display: flex;
  gap: 25px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
}

.btn1 {
  background: linear-gradient(90deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
  transition: transform 0.3s;
  display: inline-block;
}

.btn1:hover {
  transform: scale(1.05);
}
.btn2 {
  background: transparent;
  color: rgb(38, 194, 77);
  border: 2px solid #41e56d;
  padding: 10px 22px;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s;
}

.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.banner {
  background: url("assets/hero-bg.png") center/cover no-repeat;
  text-align: center;
  padding: 120px 20px;
}

.podcast-circle {
  background: url('./assets/hero-circle.png') no-repeat center/cover; 
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 auto 20px;
  position: relative;
}
.microphone-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 90px;
}
.microphone-icon img {
  width: 100%;
  height: 90%;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #0aea55;
  color: #000;
  padding: 5px 13px;
  border-radius: 12px;
  font-size: 12px;
}

.banner-actions button {
  margin: 10px;
}

.about {
  background: rgb(27, 10, 49);
  text-align: center;
  padding: 20px 20px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.stats h2 {
  color: #55e15a;
}
.stats span {
  color: #aaa;
  font-size: 14px;
}

.why {
  background: rgb(43, 8, 89);
  padding: 80px 20px;
  text-align: center;
}

.features {
  background: rgb(43, 8, 89);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #020617;
  padding: 25px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.episodes {
  background: rgb(27, 10, 49);
  padding: 80px 40px;
}
.episodes h2 {
  text-align: center;
  margin-bottom: 50px;
}

.episode-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.episode-card iframe {
     width: 100%;
    height: 100%;
    border: none;
}

